In [1]:
# import python libraries
import os
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib import cm
import matplotlib.patheffects as PathEffects

In [2]:
# load daily close price data
df = pd.read_csv('../../github-bitcoin-scripts/bitcoin-data/bitcoin-daily-data.csv')
orig_dates = df['date'].to_list()
orig_prices = df['price'].to_list()
df.tail(5)

         date     price
4810   3/6/22  37814.23
4811   3/7/22  38842.99
4812   3/8/22  42313.62
4813   3/9/22  39249.76
4814  3/10/22  39865.31

In [4]:
hodl_days = [l+1 for l in list(range(365))]

for d in hodl_days:
    hodl_return = []
    for i in range(len(orig_dates)):
        date = orig_dates[i]
        price = orig_prices[i]
        if price > 0:
            try:
                hodl_return.append((orig_prices[i+d]-price)/price*100)
            except:
                hodl_return.append(-100)
        else:
            hodl_return.append(0)
    df['%i_day_return' % d] = hodl_return

<ipython-input-4-aee47bfc97ef>:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df['%i_day_return' % d] = hodl_return

In [5]:
def str_to_datetime(strs):
    """Convert a list of "YYYY-MM-DD" strings to datetime objects."""
    dates = []
    for date in strs:
        if '-' in date:
            y, m, d = (int(x) for x in date.split("-"))
        elif '/' in date:
            m, d, y = int(date.split('/')[0]), int(date.split('/')[1]), \
            int(date.split('/')[2])+2000
        date = datetime.datetime(y, m, d)
        dates.append(date)
    return dates

datetimes = str_to_datetime(orig_dates)
dates = [mdates.date2num(date) for date in datetimes]

In [6]:
def x_axis_dates(ax=None, fig=None):
    """Helper function to format the x axis as dates.

    Input:
    ax:  An Axes instance or an iterable of Axes instances.
    Optional, defaults to plt.gca()
    fig: The Figure instance containing those Axes or Axeses
    Optional, defaults to plt.gcf()
    """
    if ax is None: ax = plt.gca()
    if fig is None: fig = plt.gcf()
    loc = mdates.AutoDateLocator()
    fmt = mdates.AutoDateFormatter(loc)
    try:
        ax.xaxis.set_major_locator(loc)
        ax.xaxis.set_major_formatter(fmt)
    except AttributeError:
        for a in ax:
            # Fresh locators/formatters are needed for each instance
            loc = mdates.AutoDateLocator()
            fmt = mdates.AutoDateFormatter(loc)
            a.xaxis.set_major_locator(loc)
            a.xaxis.set_major_formatter(fmt)
    fig.autofmt_xdate()

In [7]:
df.sample(10)

,date,price,1_day_return,2_day_return,3_day_return,4_day_return,5_day_return,6_day_return,7_day_return,8_day_return,...,356_day_return,357_day_return,358_day_return,359_day_return,360_day_return,361_day_return,362_day_return,363_day_return,364_day_return,365_day_return
2788,8/22/16,584.7325,-0.590219,-1.152236,-1.538943,-1.124651,-2.747615,-1.911558,-2.115702,-1.493623,...,603.090097,649.529280,619.034772,656.806967,638.173438,611.343649,619.325726,603.094150,593.469663,607.618013
1333,8/28/12,10.9400,-0.211152,-1.489945,-7.129799,-8.908592,-6.726691,-3.747715,-5.075868,0.545704,...,835.097806,859.894881,918.692870,903.016453,883.066728,893.487203,921.892139,925.868373,973.547532,974.862888
4658,10/5/21,52662.3300,2.275687,4.182686,4.502706,4.178471,8.882402,6.806554,4.542317,9.441379,...,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000
811,3/25/11,0.8838,-3.236026,-7.218828,-9.594931,-10.330391,-10.647205,-11.224259,-12.412310,-11.518443,...,502.692917,504.650373,490.167459,497.352342,431.104322,447.397601,444.795203,432.281059,430.210455,429.078977
2014,7/10/14,615.1129,2.612122,3.148138,2.026132,0.531106,0.689776,0.014794,1.220995,2.130129,...,-58.111690,-58.649786,-58.447287,-57.674632,-55.940560,-56.350533,-56.925534,-56.163186,-56.412327,-53.848960
2372,7/3/15,255.5961,1.859457,6.032643,5.046008,3.662223,5.496876,4.897297,11.066249,14.120403,...,144.720088,160.239495,160.304833,146.578880,157.593524,152.861448,150.035896,163.104562,164.684399,175.311713
3847,7/17/19,9692.7067,9.741379,8.601158,10.952393,9.218649,6.531904,1.620944,0.813601,1.953977,...,-4.408796,-4.262209,-2.980145,-5.653650,-4.278028,-4.267711,-4.106636,-5.058443,-4.937519,-5.946551
4792,2/16/22,44086.4200,-9.488477,-9.282133,-12.923231,-14.974067,-13.235232,-13.547392,-20.214025,-10.028984,...,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000
1018,10/18/11,2.4190,-6.159570,-2.935097,6.242249,30.582885,31.045887,5.208764,14.510128,14.634146,...,386.899545,391.732121,401.033485,397.312939,396.072757,390.326581,385.279041,389.379909,389.867714,388.218272
4770,1/25/22,37972.4500,-2.937103,-2.508714,0.575812,-0.187241,-0.836212,1.031906,-1.988784,-3.815134,...,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000,-100.000000

In [8]:
def hodl_analysis(hodl_days=365):
    start_date = list(orig_dates).index('10/5/09')
    end_date = len(orig_dates)-1
    analysis_start_date = list(orig_dates).index('10/5/09')
    analysis_end_date = len(orig_dates)-hodl_days
    n = 0
    sep_n = 2.
    res = (1920, 1200)
    size = res[0]/96.
    size_y = res[1]/96.

    ymin = min(orig_prices[start_date:end_date+1])
    ymax = max(orig_prices[start_date:end_date+1])

    fig, (ax) = plt.subplots(1, 1, figsize=(size, size_y), dpi=96, facecolor='black')
    ax.set_facecolor("black")
    plt.rc('axes', axisbelow=True)
    
    pos_count = 0
    neg_count = 0

    for d in range(analysis_end_date-analysis_start_date):
        yr_return = df['%i_day_return' % hodl_days].iloc[analysis_start_date+d]
        if yr_return >= 0:
            plt.fill_between([dates[analysis_start_date+d], dates[analysis_start_date+d+1]], [ymin/1.5, ymin/1.5],
                             [orig_prices[analysis_start_date+d]*10**(n*sep_n),
                              orig_prices[analysis_start_date+d+1]*10**(n*sep_n)],
                             color='#00b32c', alpha=1, zorder=4)
            pos_count += 1
        else:
            plt.fill_between([dates[analysis_start_date+d], dates[analysis_start_date+d+1]], [ymin/1.5, ymin/1.5],
                             [orig_prices[analysis_start_date+d]*10**(n*sep_n),
                              orig_prices[analysis_start_date+d+1]*10**(n*sep_n)],
                             color='#e40010', alpha=1, zorder=4)
            neg_count += 1
    plt.plot(dates[start_date:end_date+1],
             [p*10**(n*sep_n) for p in orig_prices[start_date:end_date+1]],
             color='w', alpha=1, solid_capstyle='round', zorder=4)
    plt.xticks(fontsize=24, color='w')
    ax.tick_params(axis='both', which='major', pad=15)
    plt.xlabel('HODL Period Start Date', fontsize=30, color='w', labelpad=25)

    plt.title('Bitcoin HODL Analysis   ', color='w', fontsize=36, pad=230)
    plt.text(np.mean(dates[start_date:end_date+1]), ymax*10**4.25, 'By Wicked Smart Bitcoin@w_s_bitcoin', color='w',
             fontsize=28, horizontalalignment='center')
    plt.text(dates[start_date], ymin/10**2.75, 'test', horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])/8, ymax*10**2.35, 'HODL Period (Days)', color='w',
             fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])/8, ymax*10**1.35, format(hodl_days, ',d'),
             color='w', fontsize=36, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*3/8, ymax*10**3, '# of Periods', color='w',
             fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*3/8, ymax*10**2.35, 'Analyzed', color='w',
             fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*3/8, ymax*10**1.35,
             format(d+1, ',d'), color='w', fontsize=36, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*5/8, ymax*10**3, '# of Periods w/', color='w',
             fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*5/8, ymax*10**2.35, 'Positive Returns',
             color='#00b32c', fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*5/8, ymax*10**1.35,
             '%s (%s%%)' % (format(pos_count, ',d'), format(100*pos_count/(pos_count+neg_count), ',.1f')), color='w',
             fontsize=36, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*7/8, ymax*10**3, '# of Periods w/', color='w',
             fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*7/8, ymax*10**2.35, 'Negative Returns',
             color='#e40010', fontsize=22, horizontalalignment='center')
    plt.text(dates[start_date]+(dates[end_date]-dates[start_date])*7/8, ymax*10**1.35,
             '%s (%s%%)' % (format(neg_count, ',d'), format(100*neg_count/(pos_count+neg_count), ',.1f')), color='w',
             fontsize=36, horizontalalignment='center')
    plt.xlim(dates[start_date]-0.02*(dates[end_date]-dates[start_date]),
             dates[end_date]+0.05*(dates[end_date]-dates[start_date]))

    plt.yscale('log')

    x_axis_dates()
    plt.grid(axis='x', alpha=0.25)
    plt.tight_layout()
    fig.savefig('figures/%i.png' % hodl_days)

In [ ]:
for i in range(264):
    hodl_analysis(hodl_days=i+101)

In [45]:
pos = 0
neg = 0
for i in df['1yr_return'].to_list()[analysis_start_date:analysis_end_date+2]:
    if i > 0:
        pos += 1
    else:
        neg += 1
print(pos/len(df['1yr_return'].to_list()[analysis_start_date:analysis_end_date+2])*100)
print(neg/len(df['1yr_return'].to_list()[analysis_start_date:analysis_end_date+2])*100)

81.94444444444444
18.055555555555554